<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>{{UPobj.username}}</h1>
    <img src="{{ UPobj.profile_image.url }}" alt="">    
    <p>{{UPobj.email}}</p>
    <p>{{UPobj.data_joined}}</p>
    <p>Amount : {{amount}}</p>

    {%if is_true %}
        <a href="{% url 'profile-edite' UPobj.username %}">Edite</a>
    {%endif%}
</body>
</html>